@model Web_Application.ModelViews.CompanyMV


<style>
    .rw {
        width: 50%;
    }

    .rws {
        width: 33%;
    }

    body {
        padding: 10px;
    }

    #exTab1 .tab-content {
        color: black;
        background-color: white;
        padding: 5px 15px;
    }

    #exTab2 h3 {
        color: black;
        background-color: white;
        padding: 5px 15px;
    }

    /* remove border radius for the tab */

    #exTab1 .nav-pills > li > a {
        border-radius: 0;
        margin-left: 5px;
    }

    /* change border radius for the tab , apply corners on top*/

    #exTab3 .nav-pills > li > a {
        border-radius: 4px 4px 0 0;
    }

    #exTab3 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }

</style>
<div class="modal fade" id="addRegister" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="width:130%;  margin-top: 20px; margin-left:-5%">
            <div class="modal-header p-2">
                @if (Model == null)
                {
                   
                        <h4 class="modal-title" id="addRegisterLabel" style="font-size:large">Add Company</h4>
                  
                }
                <h4 class="modal-title" id="addRegisterLabel" style="font-size:large">Edit Company</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>

            </div>
            <div class="modal-body p-1">
                <div class="card-header p-0 pt-1 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Company</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="true">Contact Person</a>
                        </li>
                    </ul>
                </div>
                <form asp-action="AddCompany" asp-controller="Company">
                    @Html.AntiForgeryToken()
                    <input asp-for="Id" hidden />
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-three-tabContent">
                            <div class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                                <div class="col" style="margin-left: 10px; ">
                                    <div class="row pb-1">
                                        <div>
                                            <label class="form-label">Company Name:</label>
                                            <input type="text" asp-for="CompanyName" class="form-control" style="height:33px" required>
                                        </div>

                                    </div>
                                    <div class="row pb-1">
                                        <div class="rw">
                                            <label class="form-label">Registration Date:</label>
                                            <input type="date" asp-for="RegistrationDate" class="form-control" style="height:33px" required>
                                        </div>
                                        <div class="rw">
                                            <label class="form-label">Email:</label>
                                            <input type="email" asp-for="Email" class="form-control" style="height:33px" required>
                                        </div>
                                    </div>
                                    <div class="row pb-1">
                                        <div class="rw">
                                            <label class="form-label">Address:</label>
                                            <input type="text" asp-for="Address" class="form-control" style="height:33px" required>
                                        </div>
                                        <div class="rw">
                                            <label class="form-label">Pan No.</label>
                                            <input type="text" asp-for="PanNumber" class="form-control" style="height:33px" required>
                                        </div>
                                    </div>
                                    <div class="row pb-1">

                                        <div class="rw">
                                            <label class="form-label">City:</label>
                                            <input type="text" asp-for="City" class="form-control" style="height:33px" required>
                                        </div>
                                        <div class="rw">
                                            <label class="form-label">Country:</label>
                                            <input type="text" asp-for="Country" class="form-control" style="height:33px" required>
                                        </div>
                                    </div>
                                    <div class="row pb-1">
                                        <div class="rw">
                                            <label class="form-label">Valid From:</label>
                                            <input type="date" asp-for="ValidFrom" class="form-control" style="height:33px" required>
                                        </div>
                                        <div class="rw">
                                            <label class="form-label">Valid To:</label>
                                            <input type="date" asp-for="ValidTo" class="form-control" style="height:33px" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                                <div class="col" style="margin-left: 10px;">
                                    <div class="row pb-1">
                                        <div class="rws">

                                            <label class="form-label">Contact Name:</label>
                                            <input type="text" id="contact" name="contactName" style="height:33px" class="form-control">
                                        </div>
                                        <div class="rws">
                                            <label class="form-label">Gender:</label>
                                            <select class="form-control" id="gender" name="gender" style="height:33px">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                        <div class="rws">
                                            <label class="form-label">Address:</label>
                                            <input type="text" name="address" id="address" class="form-control" style="height:33px">
                                        </div>
                                    </div>
                                    <div class="row pb-3">
                                        <div class="rws">
                                            <label class="form-label">Phone Number:</label>
                                            <input type="text" name="phoneNumber" id="phone" class="form-control" style="height:33px">
                                        </div>
                                        <div class="rws">
                                            <label class="form-label">Mobile Number:</label>
                                            <input type="text" name="mobileNumber" id="mobile" class="form-control" style="height:33px">
                                        </div>
                                        <div class="rws">
                                            <label class="form-label">Desigation:</label>
                                            <select class="form-control" id="designation" name="designation" style="height:33px">
                                                <option>Staff</option>
                                                <option>Assistance</option>
                                                <option>CEO</option>
                                                <option>Reception</option>
                                            </select>
                                        </div>
                                    </div>

                                    @*<div class="rw">
                                    <label class="form-label">Mobile Number:</label>
                                    <input type="text" asp-for="MobileNumber" class="form-control" required>
                                    </div>*@
                                </div>

                                <button type="button" class="btn btn-primary" id="add" style="margin-left:90%; margin-top: 2px; ">Add</button>


                               
                                @if (Model != null)
                                {
                                    if (Model.contactPersonVM != null && Model.contactPersonVM.Count > 0)
                                    {
                                        <input type="hidden" id="hidRowCount" value="@Model.contactPersonVM.Count" />
                                    }
                                    else
                                    {

                                        <input type="hidden" id="hidRowCount" value="0" />
                                    }
                                    <input type="hidden" id="hidRowClicked" value="-1" />
                                    <input type="hidden" id="hiddbRecid" />

                                }
                                else
                                {
                                    <input type="hidden" id="hidRowClicked" value="-1"/>
                                    <input type="hidden" id="hiddbRecid"  />
                                    <input type="hidden" id="hidRowCount"  />
                                }




                                <table class="table align-middle" id="datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Contact Name</th>
                                            <th scope="col">Gender</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Mobile</th>
                                            <th scope="col">Designation</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbldatatabletbody">
                                        @{
                                            int rowcount = 0;
                                            if (Model != null)
                                            {
                                                if (Model.contactPersonVM != null && Model.contactPersonVM.Count > 0)
                                                {

                                                    foreach (var item in Model.contactPersonVM)
                                                    {
                                                        <tr id="tr_@rowcount">
                                                            <td>
                                                                <input type='hidden' class='form-control' style='height:33px;' value="@item.Id" id="txtId_@rowcount" name='contactPersonVM[@rowcount].Id' />
                                                                <input type='text' readonly class='form-control' style='height:33px;' value="@item.ContactName" id="txtContactName_@rowcount" name='contactPersonVM[@rowcount].ContactName' />
                                                            </td>
                                                            <td>
                                                                <input type='text' style='height:33px;' readonly value="@item.Gender" name='contactPersonVM[@rowcount].Gender' id="txtGender_@rowcount" class='form-control' />
                                                            </td>
                                                            <td>
                                                                <input type='text' style='height:33px;' readonly value="@item.Address" class='form-control' name='contactPersonVM[@rowcount].Address' id="txtAddress_@rowcount" />
                                                            </td>
                                                            <td>
                                                                <input type='text' style='height:33px;' readonly value="@item.phoneNumber" class='form-control' name='contactPersonVM[@rowcount].PhoneNumber' id="txtPhoneNumber_@rowcount" />
                                                            </td>
                                                            <td>
                                                                <input style='height:33px;' type='text' readonly value="@item.MobileNumber" class='form-control' name='contactPersonVM[@rowcount].MobileNumber' id="txtMobileNumber_@rowcount" />
                                                            </td>
                                                            <td>
                                                                <input style='height:33px;' type='text' readonly value="@item.Designation" class='form-control' name='contactPersonVM[@rowcount].Designation' id="txtDesignation_@rowcount" />
                                                            </td>
                                                            <td style="display:flex; padding-right:1px;">
                                                                <button  class='btn btn-link btn-sm px-1 btnDelete' asp-action="DeleteContact" asp-controller="Company" asp-route-id="@item.Id"  onclick="return confirm('Are sure wants to delete?')" data-rowcount="@rowcount" data-recid="@item.Id" data-ripple-color='dark'><i class="fa-solid fa-x"></i></button>
                                                                <button type='button' class='btn btn-link btn-sm px-1 btnEdit' data-rowcount="@rowcount" data-recid="@item.Id" data-ripple-color='dark'><i class="fa-solid fa-pen"></i></button>
                                                            </td>
                                                        </tr>
                                                        rowcount++;
                                                    }
                                                    //@rowcount = @rowcount + 1;
                                                    

                                                }
                                                
                                            }
                                        }


                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="btnn" style="display:flex; flex-direction:column; align-items:center;">
                                        <button type="submit" id="submit" class="btn btn-primary">Submit</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


                <!-- Tabs content -->


            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
    $('#custom-tabs-three-profile-tab').click(function () {

        //removing active class from other selected/default tab
        $("#custom-tabs-three-home-tab").removeClass("active");

        //adding active class to current clicked tab
        $('#custom-tabs-three-profile-tab').addClass("active");
    });
    $('#custom-tabs-three-home-tab').click(function () {

        //removing active class from other selected/default tab
        $("#custom-tabs-three-profile-tab").removeClass("active");

        //adding active class to current clicked tab
        $('#custom-tabs-three-home-tab').addClass("active");
    });
    $(document).ready(function () {
        var rowCount = parseInt($("#hidRowCount").val() == "" ? "0" : $("#hidRowCount").val());
        
        $("#add").click(function () {
            var cols = "";
            var recid = $("#hiddbRecid").val();
            var rowid = $("#hidRowClicked").val();

            if (rowid >= 0) {
                var contactname = $('#contact').val();
                var gender = $('#gender').val();
                var address = $('#address').val();
                var phonenumber = $('#phone').val();
                var mobilenumber = $('#mobile').val();
                var designation = $('#designation').val();
                $("#txtId_" + rowid).val(recid)
                $("#txtContactName_" + rowid).val(contactname)
                $("#txtGender_" + rowid).val(gender)
                $("#txtAddress_" + rowid).val(address)
                $("#txtPhoneNumber_" + rowid).val(phonenumber)
                $("#txtMobileNumber_" + rowid).val(mobilenumber)
                $("#txtDesignation_" + rowid).val(designation)
            } else {

                cols = cols + "<tr id='tr_" + rowCount + "'><td><input type='text' readonly class='form-control' style='height:33px;' name='contactPersonVM[" + rowCount + "].ContactName' id='txtContactName_" + rowCount + "' value = '" + $("#contact").val() + "' /> </td><td><input type='text' style='height:33px;' name='contactPersonVM[" + rowCount + "].Gender' class='form-control' readonly id='txtGender_" + rowCount + "' value='" + $("#gender").val() + "'/ > </td><td><input type='text' style='height:33px;' readonly id='txtAddress_" + rowCount + "' class='form-control' name='contactPersonVM[" + rowCount + "].Address'  value='" + $("#address").val() + "'/ > </td><td><input type='text' readonly style='height:33px;' class='form-control' id='txtPhoneNumber_" + rowCount + "' name='contactPersonVM[" + rowCount + "].PhoneNumber' value='" + $("#phone").val() + "'/ > </td><td><input style='height:33px;' readonly type='text' class='form-control' id='txtMobileNumber_" + rowCount + "' name='contactPersonVM[" + rowCount + "].MobileNumber' value='" + $("#mobile").val() + "'/ > </td><td><input style='height:33px;' readonly type='text' class='form-control' id='txtDesignation_" + rowCount + "' name='contactPersonVM[" + rowCount + "].Designation' value='" + $("#designation").val() + "'/ > </td><td style='display: flex; readonly padding-right: 1px;'><button type='button' class='btn btn-link btn-sm px-1' id='delete' data-recCount='" + rowCount + "' data-recid='" + rowCount + "'  data-ripple-color='dark'><i class='fas fa-times'></i > </button><button readonly  type='button' class='btn btn-link btn-sm px-1 btnEdit' data-rowcount='" + rowCount + "' data-recid='" + rowCount + "' data-ripple-color='dark'><i class='fa-solid fa-pen'></i></button></<td> </tr>";

            }
            //alert(cols);

            $("#tbldatatabletbody").append(cols);
            var c = $("#contact").val('');
            var p = $("#phone").val('');
            var m = $("#mobile").val('');
            var a = $("#address").val('');
            rowCount++;

            $("#hiddbRecid").val('-1')
            $("#hidRowClicked").val('-1')
        });

        $(document).on('click', '#delete', function () {
            $(this).closest('#tbldatatabletbody tr').remove();
            rowCount--;
        });
    });



    $(document).on("click", '.btnEdit', function () {
        $("#contact").val('');
        $("#address").val('');
        $("#gender").val('');
        $("#phonenumber").val('');
        $("#mobilenumber").val('');
        $("#designation").val('');

        var dataid = $(this).attr("data-recid");
        var rowid = $(this).attr("data-rowcount");
       

        $("#hiddbRecid").val(dataid);
        $("#hidRowClicked").val(rowid);

        var contactname = $('#txtContactName_' + rowid).val();
        var gender = $('#txtGender_' + rowid).val();
        var address = $('#txtAddress_' + rowid).val();
        var phonenumber = $('#txtPhoneNumber_' + rowid).val();
        var mobilenumber = $('#txtMobileNumber_' + rowid).val();
        var designation = $('#txtDesignation_' + rowid).val();
        $("#contact").val(contactname);
        $("#gender").val(gender);
        $("#address").val(address);
        $("#phone").val(phonenumber);
        $("#mobile").val(mobilenumber);
        $("#designation").val(designation);

    })
</script>
