@model IEnumerable<Web_Application.ModelViews.CompanyMV>
@{
    ViewData["Title"] = "Index";
    HttpContextAccessor a = new HttpContextAccessor();
    ISession session = a.HttpContext.Session;
    
}
<div id="PlaceHolderHere"></div>
    <button class="btn btn-primary btnbp" data-toggle="ajax-modal" data-target="#addregister" data-url="@Url.Action("AddCompany")" style="width:100px;margin-left:90%; margin-bottom:5px;">Create</button>

<div class="card shadow mb-4" style="width: 112%; margin-left: -6%;">
    <div class="card-header py-3 mb-3">
        <h6 class="m-0 font-weight-bold text-primary">Company Informations DataTables</h6>
    </div>
    
    
    <div class="card-body" style="font-size: 80%;">
        <div class="table-responsive">
            <table class="display" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Actions</th>
                        <th scope="col">Id</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Registration Date</th>
                        <th scope="col">Email</th>
                        <th scope="col">Pan No.</th>
                        <th scope="col">Address</th>
                        <th scope="col">District</th>
                        <th scope="col">Country</th>
                        <th scope="col">Achive From</th>
                        <th scope="col">Achive To</th>
                        
                    </tr>
                </thead>
                <tbody id="table">
                    @foreach (var data in Model)
                    {
                        <tr>
                            <td>
                                <button style="padding: 0;border: none;background: none;" class="btnbp" data-toggle="ajax-modal" data-target="#addRegister" data-url="@Url.Action($"EditCompany/{data.Id}")"><i class="fa-solid fa-pen-to-square fa-lg"></i></button>
                                @*<a asp-action="EditRegister" asp-controller="User" asp-route-id="@data.Id" data-toggle="ajax-modal" data-target="#addregister" class="btn btn-warning">Edit</a>*@
                                @if (session.GetString("userProfile") == "SuperAdmin" || session.GetString("userProfile") == "Admin" || session.GetString("userProfile") == "Support")
                                {
                                    <a style="color:black" asp-action="Delete" asp-controller="Company" asp-route-id="@data.Id" onclick="return confirm('Are sure wants to delete?');"><i class="fa-solid fa-trash"></i></a>
                                }
                                <button style="padding: 0;border: none;background: none;" type="button" data-toggle="ajax-modal" class="btnbp" data-target="#addregister" data-url="@Url.Action($"GetContact/{data.Id}")"><i class="fa-solid fa-eye"></i></button>
                                <a asp-action="Details" style="color:black" asp-controller="Company" asp-route-id="@data.Id" asp-route-name="@data.CompanyName"><i class="fa-solid fa-list"></i></a>
                                @* @Html.ActionLink("Edit", "EditRegister", new { id = data.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = data.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })*@
                            </td>
                            <td>@data.Id</td>
                            <td>@data.CompanyName</td>
                            <td>@data.Category</td>
                            <td>@data.RegistrationDate.ToShortDateString()</td>
                            <td>@data.Email</td>
                            <td>@data.PanNumber</td>
                            <td>@data.Address</td>
                            <td>@data.District</td>
                            <td>@data.Country</td>
                            <td>@data.ValidFrom.ToShortDateString()</td>
                            <td>@data.ValidTo.ToShortDateString()</td>
                        </tr>


                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                scrollX: true,
                paging:false,
                scrollY: 300,
                fixedColumns: {
                    leftColumns: 1,
                }
            });
        });
        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        $(function () {
            var PlaceHolderEleent = $('#PlaceHolderHere');
            $(document).on("click", '.btnbp', function () {
            //$('button[data-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');

                var decodedUrl = decodeURIComponent(url);
                $.get(decodedUrl).done(function (data) {
                    PlaceHolderEleent.html(data);
                    PlaceHolderEleent.find('.modal').modal('show');
                })
            })
            PlaceHolderEleent.on('click', '[data-save="modal"]', function (event) {

                //var form =$(this).parents('.modal').find('form');
                //var actionUrl = form.attr('action');
                //var url = '/user/'+actionUrl;
                //var sentData = form.serialize();

                //$.post(url, sentData).done(function (data) {
                //    PlaceHolderEleent.find('.modal').modal('hide');
                //    window.location.reload();
                //})

            })
        })
    </script>
}