@model IEnumerable<Web_Application.ModelViews.AMCEntryVM>
@{
    ViewData["Title"] = "Index";
    HttpContextAccessor a = new HttpContextAccessor();
    ISession session = a.HttpContext.Session;

}
<div id="PlaceHolderHere"></div>
<button class="btn btn-primary btnbp" data-toggle="ajax-modal" data-target="#addregister" data-url="@Url.Action("CreateAMCEntry")" style="width:100px;margin-left:90%; margin-bottom:5px;">Create</button>

<div class="card shadow mb-4" style="width: 112%; margin-left: -6%;">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">AMC Entry Informations DataTables</h6>
    </div>
    <div class="card-body" style="font-size: 80%;">
        <div class="table-responsive">
            <table class="display" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Actions</th>
                        <th scope="col">Id</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Client</th>
                        <th scope="col">Open Date</th>
                        <th scope="col">AMC Amount</th>
                        <th scope="col">Follow Up Date</th>
                        <th scope="col">Close Date</th>
                        
                    </tr>
                </thead>
                <tbody id="table">
                    @foreach(var data in Model)
                    {
                        <tr>
                            <td>
                                <button style="padding: 0;border: none;background: none;" class="btnbp" data-toggle="ajax-modal" data-target="#addRegister" data-url="@Url.Action($"EditAMCEntry/{data.Id}")"><i class="fa-solid fa-pen-to-square fa-lg"></i></button>
                            </td>
                            <td>@data.Id</td>
                            <td>@data.CompanyName</td>
                            <td>@data.Client</td>
                            <td>@data.OpenDate</td>
                            <td>@data.AMCAmount</td>
                            <td>@data.FollowUpDate</td>
                            <td>@data.CloseDate</td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                scrollX: true,
                paging:false,
                scrollY: 300,
                fixedColumns: {
                    leftColumns: 1,
                }
            });
        });
        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        $(function () {
            var PlaceHolderEleent = $('#PlaceHolderHere');
            $(document).on("click", '.btnbp', function () {
            //$('button[data-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');
                var decodedUrl = decodeURIComponent(url);
                $.get(decodedUrl).done(function (data) {
                    PlaceHolderEleent.html(data);
                    PlaceHolderEleent.find('.modal').modal('show');
                })
            })
            PlaceHolderEleent.on('click', '[data-save="modal"]', function (event) {

                //var form =$(this).parents('.modal').find('form');
                //var actionUrl = form.attr('action');
                //var url = '/user/'+actionUrl;
                //var sentData = form.serialize();

                //$.post(url, sentData).done(function (data) {
                //    PlaceHolderEleent.find('.modal').modal('hide');
                //    window.location.reload();
                //})

            })
        })
    </script>
}