@model IEnumerable<Web_Application.ModelViews.InstallationMV>
@{
    ViewData["Title"] = "Index";
}
<div id="PlaceHolderHere"></div>
<button class="btn btn-primary" data-toggle="ajax-modal" data-target="#addregister" data-url="@Url.Action("CreateInstallation")" style="width:100px;margin-left:90%; ">Create</button>
<div class="input-group" style="margin-left:79%;margin-top:4px;">
    @*<div class="form-outline">
    <input type="search" id="search" class="form-control" placeholder="Search..." />
    </div>*@
</div>
<table class="display" id="datatable">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Company Name</th>
            <th scope="col">Client Name</th>
            <th scope="col">Call By</th>
            <th scope="col">Support Staff</th>
            <th scope="col">Date</th>
            <th scope="col">Issue</th>
            <th scope="col">FeedBack</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody id="table">
        @*@foreach (var data in Model)
        {
        <tr>
        <td>@data.Id</td>
        <td>@data.CompanyName</td>
        <td>@data.ClientName</td>
        <td>@data.CallBy</td>
        <td>@data.SupportStaff</td>
        <td>@data.SubmitDate.ToShortDateString()</td>
        <td>@data.Issue</td>
        <td>@data.FeedBack</td>
        <td>@data.Status</td>
        <td>
        <button type="button" data-toggle="ajax-modal" data-target="#addregister" class="btn btn-warning" data-url="@Url.Action($"EditSupport/{data.Id}")">Edit</button>
        @*<a asp-action="EditRegister" asp-controller="User" asp-route-id="@data.Id" data-toggle="ajax-modal" data-target="#addregister" class="btn btn-warning">Edit</a>*@
        @*                    <a asp-action="Delete" asp-controller="Support" asp-route-id="@data.Id" class="btn btn-danger" onclick="return confirm('Are sure wants to delete?');">Delete</a>
        *@                    @* @Html.ActionLink("Edit", "EditRegister", new { id = data.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = data.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })*@
        @*</td>*@

        @*</tr>*@


        @*}*@


    </tbody>

</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable();
        });
        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        $(function () {
            var PlaceHolderEleent = $('#PlaceHolderHere');
            $('button[data-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');

                var decodedUrl = decodeURIComponent(url);
                $.get(decodedUrl).done(function (data) {
                    PlaceHolderEleent.html(data);
                    PlaceHolderEleent.find('.modal').modal('show');
                })
            })
            PlaceHolderEleent.on('click', '[data-save="modal"]', function (event) {

                //var form =$(this).parents('.modal').find('form');
                //var actionUrl = form.attr('action');
                //var url = '/user/'+actionUrl;
                //var sentData = form.serialize();

                //$.post(url, sentData).done(function (data) {
                //    PlaceHolderEleent.find('.modal').modal('hide');
                //    window.location.reload();
                //})

            })
        })
    </script>
}