@using System.Globalization;
@model IEnumerable<Web_Application.ModelViews.IssueVM>
@{
    ViewData["Title"] = "Index";
}

<style>
    .rw {
        width: 107%;
    }

    .rw1 {
        width: 107%;
    }
</style>
<div id="PlaceHolderHere"></div>
<button class="btn btn-primary" data-toggle="ajax-modal" data-target="#addregister" data-url="@Url.Action("Issue")" style="width:100px;margin-left:90%; ">Create</button>
<div class="input-group" style="margin-left:79%;margin-top:4px;">
    
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Issues Informations DataTables<button type="button" class="btn btn-primary"
                                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;margin-left: 93%;" onclick="ShowPopupReport(this);">
                Report
            </button>
        </h6>
       
    </div>
    <div class="card-body">
        
        <div class="table-responsive">
            @*<div class="form-outline">
                <input type="search" id="search" class="form-control"  style="width:25%;margin-left: 75%;" />
            </div>*@
            <table class="display" id="dataTable"  width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Issue No</th>
                        <th scope="col">Company Name</th>
                        @*<th scope="col">Days Count</th>*@
                        <th scope="col">Created Date</th>
                        <th scope="col">Support</th>
                        <th scope="col">Transfer</th>
                        @*<th scope="col">Assigned Date</th>*@
                        <th scope="col">Contact Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Issue Description</th>
                        <th scope="col">Issue Generator Steps</th>
                        <th scope="col">Status</th>
                        <th scope="col">Close Date</th>
                        @*<th scope="col">Resolve By</th>*@
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model)
                        {
                            <tr>
                                <td>@data.Id</td>
                                <td>@data.IssueNo</td>
                                <td>@data.CompanyName</td>
                            @{

                                if (data.Status == "Open")
                                {
                                    string dateStr = data.CreatedDate.ToString("dd/MM/yyyy");
                                    DateTime date = DateTime.ParseExact(dateStr, "dd/MM/yyyy", CultureInfo.InvariantCulture);
                                    DateTime today = DateTime.Today;
                                    TimeSpan diff = date.Subtract(today);

                                    int days = (int)Math.Ceiling(diff.TotalDays);
                                }
                                
                            }
                                <td id="count_@data.Id" class="count" data-id="@data.CreatedDate">@data.CreatedDate.ToShortDateString()</td>
                                <td>@data.Support</td>
                                <td>@data.TrasferName</td>

                                @*<td>@data.AssignedDate</td>*@
                                <td>@data.ContactName</td>
                                <td>@data.PhoneNumber</td>
                                <td>@data.IssueDescription</td>
                                <td>@data.IssueGeneratorSteps</td>
                                <td>@data.Status</td>
                                <td>@data.CloseBy</td>
                                @*<td>@data.ResolveBy</td>*@
                                <td>
                                        <button style="padding: 0;border: none;background: none;" class="btnbp" data-toggle="ajax-modal" data-target="#addregister" data-url="@Url.Action($"Issue/{data.Id}")"><i class="fa-solid fa-pen-to-square fa-lg"></i></button>
                                        <button style="padding: 0;border: none;background: none;" class="btnbp" data-toggle="ajax-modal" data-target="#addregister" data-url="@Url.Action($"Attachment/{data.Id}")"><i class="fa-solid fa-paperclip"></i></button>
                                        @*<button id="btnResolve_@data.Id" class="btnResolve" style="padding: 0;border: none;background: none;" data-id="@data.Id" onclick="ShowPopupResolve(this);"><i class="fab fa-resolving"></i></button>*@

                                            @*<button type="submit" class="btn btn-primary btn-sm btnDelete" id="btndeleteBy_@data.Id" data-id="@data.Id" value="@data.Id"><i class="fa-solid fa-trash"></i></button>*@
                                            @*<a asp-action="EditRegister" asp-controller="User" asp-route-id="@data.Id" data-toggle="ajax-modal" data-target="#addregister" class="btn btn-warning">Edit</a>*@

                                            @*<button style="padding: 0;border: none;background: none;" id="btnDelete_@data.Id" class="btnDelete" data-id="@data.Id" onclick="ShowPopupDelete(this);"><i class="fa-solid fa-trash"></i></button>*@

                                            
                                               @* <button style="padding: 0;border: none;background: none;" id="btnAssigned_@data.Id" class="btnAssigned" data-id="@data.Id" onclick="ShowPopupAssign(this);"><i class="fa-solid fa-clipboard-question"></i></button>

                                            <button style="padding: 0;border: none;background: none;" id="btnTransfer_@data.Id" class="btnTransfer" data-id="@data.Id" data-assign ="@data.UserName" onclick="ShowPopupTransfer(this);"><i class="fas fa-people-arrows"></i></button>
                                            <button style="padding: 0;border: none;background: none;" id="btnTransfer_@data.Id" class="btnActivity" data-id="@data.Id"  onclick="ShowPopupActivity(this);"><i class="fas fa-tasks"></i></button>*@

                                </td>


                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>




<div class="modal fade" id="modalPopup0" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="width:158%;  margin-top: 20px; margin-left:-46%">
            <div class="modal-header p-0">
                <h4 class="modal-title" id="addRegisterLabel">Report</h4>
                <button type="button" class="btn-close"  data-bs-dismiss="modal">
                </button>

            </div>
            <div class="modal-body">
                <form asp-action="" asp-controller="" >

                    @Html.AntiForgeryToken()
                    <div class="col" style="margin-left: 13px; display:flex; ">

                        <input id ="txtReId" name="Id" hidden/>
                        <div class="row pb-3">

                        <div class="rw" style="display:flex;">
                            <label class="form-label">Date:</label>
                            <select class="form-select" id="selDate" style=" height:30px; font-size:13px; margin-left:2px">
                                <option disabled selected>Select Date</option>
                                <option>Today</option>
                                <option>Yesterday</option>
                                <option>Current Week</option>
                                <option>Last Week</option>
                                <option>Current Month</option>
                                <option>last Month</option>
                                <option>Upto Date</option>
                                <option>Custom Date</option>
                            </select>
                        </div>
                        
                        </div>
                        <div class="row pb-3" style="margin-left:27%;">
                            <div class="rw" style="display:flex;">
                            <label class="form-label">From:</label>
                            <input type="date" class="form-control" id="txtFrom" style=" height:30px; font-size:13px; margin-left:2px"/>
                        </div>
                        </div>
                        <div class="row pb-3" style="margin-left: 5px;">
                            <div class="rw" style="display:flex;">
                            <label class="form-label">To:</label>
                            <input type="date" class="form-control" id="txtTo" style=" height:30px; font-size:13px; margin-left:2px"/>
                        </div>
                        </div>

                    </div>

                    <div class="row">
                            <div class="btnn" style="display:flex; flex-direction:column; align-items:center;">
                                <button type="submit" class="btn btn-primary btn-sm">Ok</button>

                            </div>
                        </div>
                </form>
          </div>

        </div>
    </div>
</div>
<!--

poupu
-->
@*<div class="modal fade" id="modalPopup1" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="width:55%;  margin-top: 20px; margin-left:-15%">
            <div class="modal-header p-2">
                <h4 class="modal-title" id="addRegisterLabel">Resolve</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>

            </div>
            <div class="modal-body">
                <form asp-action="Resolve" asp-controller="Issue" >

                    @Html.AntiForgeryToken()
                    <div class="col" style="margin-left: 13px; ">

                        <input id ="txtReId" name="Id" hidden/>
                        <div class="row pb-3">

                        <div class="rw">
                        <label class="form-label">Resolve Date:</label>
                        <input type="date" name="ResolveBy"  style="height:33px" class="form-control" required>
                        </div>
                        </div>

                        <div class="row">
                            <div class="btnn" style="display:flex; flex-direction:column; align-items:center;">
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>
                        </div>

                    </div>


                </form>
          </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalPopup2" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="width:55%;  margin-top: 20px; margin-left:-15%">
            <div class="modal-header p-2">
                <h4 class="modal-title" id="addRegisterLabel">Delete</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>

            </div>
            <div class="modal-body">
                <form asp-action="Delete" asp-controller="Issue">

                    @Html.AntiForgeryToken()
                    <div class="col" style="margin-left: 13px; ">

                        <input id="txtDeId" name="Id" hidden />
                        <div class="row pb-3">

                            <div class="rw">
                                <label class="form-label">Delete Date:</label>
                                <input type="date" name="DeletedBy" style="height:33px" class="form-control" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="btnn" style="display:flex; flex-direction:column; align-items:center;">
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>
                        </div>

                    </div>


                </form>
      </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalPopup3" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="width:77%;  margin-top: 20px; margin-left:-15%">
            <div class="modal-header p-2">
                <h4 class="modal-title" id="addRegisterLabel">Assign</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
<div class="modal-body">
    <form asp-action="Assign" asp-controller="Issue">

        @Html.AntiForgeryToken()
        <div class="col" style="margin-left: 13px; ">

            <input id="txtAsId" name="Id" hidden />
            <input name="AssignedEmail" id="txtEmail" hidden />

            <div class="row pb-1">

                <div class="rw">
                    <label class="form-label">Assigned to:</label>
                    <select type="text" name="AssignTo" id="selAssign" asp-items="ViewBag.Assign" style="height:34px ;" class="form-select" data-show-subtext="true" data-live-search="true" required>
                        <option disabled selected>Select</option>
                    </select>
                </div>
            </div>
            <div class="row pb-1">

                <div class="rw">
                    <label class="form-label">Assigned Date:</label>
                    <input type="date" name="AssignedDate"style="height:34px ;" class="form-control"/>
                </div>
            </div>

            <div class="row">
                <div class="btnn" style="display:flex; flex-direction:column; align-items:center;">
                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </div>

        </div>


    </form>
    </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalPopup4" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="width:77%;  margin-top: 20px; margin-left:-15%">
            <div class="modal-header p-2">
                <h4 class="modal-title" id="addRegisterLabel">Transfer</h4>
                
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>

            </div>
            <div class="modal-body">
                <form asp-action="Transfer" asp-controller="Issue">

                    @Html.AntiForgeryToken()
                    <div class="col" style="margin-left: 13px; ">

                        <input id="txtIId" name="Id" hidden />
                        
                       
                        <div class="row pb-1">
                            <div class="rw">
                                <label class="form-label">Transfer From:</label>
                                <input type="text" id="selTransfer" name="TransferFrom" style="height:34px" class="form-control" readonly  required/>
                                <input name="AssignedEmail" id="txtTEmail" hidden />
                            </div>
                        </div>
                        <div class="row pb-1">
                            <div class="rw">
                                <label class="form-label">Transfer To:</label>
                                <select type="text" id="selTransferTo" name="TransferTo" asp-items="ViewBag.User" style="height:34px ;" class="form-select" data-show-subtext="true" data-live-search="true" required>
                                    <option selected disabled>Select Transfer To</option>
                                </select>
                            </div>
                        </div>
                        <div class="row pb-1">

                            <div class="rw">
                                <label class="form-label">Transfer Date:</label>
                                <input type="date" name="TransferDate" style="height:34px ;" class="form-control" />
                            </div>
                        </div>
                        <div class="row pb-1">

                            <div class="rw">
                                <label class="form-label">Current Stage:</label>
                                <input type="text" name="CurrentStage" style="height:34px ;" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="btnn" style="display:flex; flex-direction:column; align-items:center;">
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>
                        </div>

                    </div>
                </form>
           </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalPopup5" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="width:77%;  margin-top: 20px; margin-left:-15%">
            <div class="modal-header p-2">
                <h4 class="modal-title" id="addRegisterLabel">Activity</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>

            </div>
            <div class="modal-body">
                <form asp-action="IssueActivity" asp-controller="IssueActivity" enctype="multipart/form-data">

                    @Html.AntiForgeryToken()
                    <div class="col" style="margin-left: 26px; ">
                        <div class="row pb-2">
                            <input name="Id" id="txtId" hidden />
                            


                        </div>
                        <div class="row pb-2">
                            <div class="rw ">
                                <label class="form-label">Activity Description:</label>
                                <textarea type="text" name="ActivityDescription" style="height:55px" class="form-control" style="height:65px;" required></textarea>
                            </div>
                        </div>
                            <div class="row pb-3">
                                <div class="rw ">
                                    <label class="form-label">Attachments:</label>
                                    <input type="file" name="Attachment" style="height:33px" class="form-control" style="height:65px;"  multiple />

                                </div>
                            </div>

                        <div class="row">
                            <div class="btnn" style="display:flex; flex-direction:column; align-items:center;">
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>
                        </div>

                    </div>


                </form>
               
            </div>

        </div>
    </div>
</div>*@
@section Scripts{
    <script>
        $("#selDate").on("change", function(){
            var date = $(this).val();
            $.ajax({
                url:"/Issue/GetReportDate?DateType="+date,
                type:"Post",
                success:function(data){
                    $("#txtFrom").val(data[0]);
                    $("#txtTo").val(data[1]);
                }
            })
        })

        $('form').submit(function () {
            alert($(this["options"]).val());
            return false;
        });

        function ShowPopupReport(e){
          $("#modalPopup0").modal('show');
           var issueid = $(e).attr("data-id");
           $("#txtReId").val(issueid);
            

        }
        //function ShowPopupDelete(e){
        //   $("#modalPopup2").modal('show');
        //        var issueid = $(e).attr("data-id");
        //        $("#txtDeId").val(issueid);
           

        //}
        //function ShowPopupAssign(e) {
        //    $("#modalPopup3").modal('show');
        //    var issueid = $(e).attr("data-id");
        //    $("#txtAsId").val(issueid);
        //    $("#selAssign").on("change", function () {
        //        var assid = $(this).val();
        //        $.ajax({
        //            url: "/Issue/GetUserEmail?id="+assid,
        //            type:"Post",
        //            success:function(data){
        //                var email = $("#txtEmail").val(data.assignedEmail);
        //                alert(data.assignedEmail);
        //            }
        //        })
        //    });

        //}
        //function ShowPopupTransfer(e) {
        //    $("#modalPopup4").modal('show');
        //    var issueid = $(e).attr("data-id");
        //    var assign = $(e).attr("data-assign");
        //    $("#selTransfer").val(assign);
        //    $("#selTransferTo").on("change", function () {
        //        var user = $(this).val();
        //        $.ajax({
        //            url: "/Issue/GetUserEmail?username=" + user,
        //            type: "Post",
        //            success: function (data) {
        //                var email = $("#txtTEmail").val(data.assignedEmail);
        //                alert(data.assignedEmail);
        //            }
        //        })
        //    });
            
        //    $("#txtIId").val(issueid);

        //}
        //function ShowPopupActivity(e) {
        //    $("#modalPopup5").modal('show');
        //    var issueid = $(e).attr("data-id");
            

        //    $("#txtId").val(issueid);
        //    $("#txtEmail").val(email);

        //}
        //function closepopup() {
        //    $("#modalPopup").modal('hide');
        //}
         ﻿var dataTable;
        $(document).ready(function () {
            $("#dataTable").DataTable();
            //loadDataTable();
        });
        //function loadDataTable() {
        //    dataTable = $('#dataTable').DataTable({
        //        "ajax": {
        //            "url": "/Issue/GetValue"
        //        },
        //        "columns": [
        //            { "data": "id" },
        //            { "data": "issueNo"},
        //            { "data": "companyName" },
        //            { "data": "createDate"},
        //            { "data": "support"},
        //            { "data": "contactName" },
        //            { "data": "phoneNumber"},
        //            { "data": "issueDescription"},
        //            { "data": "issueGeneratorSteps"},
        //            { "data": "status" },
        //            { "data": "closeBy" },
        //            {
        //                "data": "id",
        //                "render": (data) => {
        //                    return `
        //                               <a class="btn btn-warning" onClick="EditClick('${data}')" >Edit</a>
        //                                <a href="#" class="btn btn-danger" onClick="DeleteClick('${data}')">Delete</a>
        //        `
        //                }
        //            },
        //        ]
        //     });       
        //}
        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        $(function () {
            var PlaceHolderEleent = $('#PlaceHolderHere');
            $('button[data-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');

                var decodedUrl = decodeURIComponent(url);
                $.get(decodedUrl).done(function (data) {
                    PlaceHolderEleent.html(data);
                    PlaceHolderEleent.find('.modal').modal('show');
                })
            })
            PlaceHolderEleent.on('click', '[data-save="modal"]', function (event) {

                //var form =$(this).parents('.modal').find('form');
                //var actionUrl = form.attr('action');
                //var url = '/user/'+actionUrl;
                //var sentData = form.serialize();

                //$.post(url, sentData).done(function (data) {
                //    PlaceHolderEleent.find('.modal').modal('hide');
                //    window.location.reload();
                //})

            })
        })
        $(document).ready(function () {
            $(".btnDelete").on("click", function () {
                var rowId = $(this).attr("data-id");
           $.ajax({
                url: "/Issue/DeletedBY?id=" + rowId,
               type:"POST",
               success: function(){
                   
               }
           });
            });

           
        });
    </script>
}