@model IEnumerable<Web_Application.ModelViews.IssueVM>
@{
    ViewData["Title"] = "Index";
}

<style>
    .rw {
        width: 93%;
    }

    .rw1 {
        width: 48%;
    }
</style>
<div id="PlaceHolderHere"></div>
<button class="btn btn-primary" data-toggle="ajax-modal" data-target="#addregister" data-url="@Url.Action("Issue")" style="width:100px;margin-left:90%; ">Create</button>
<div class="input-group" style="margin-left:79%;margin-top:4px;">
    @*<div class="form-outline">
    <input type="search" id="search" class="form-control" placeholder="Search..." />
    </div>*@
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Issues Informations DataTables</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="display" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Issue No</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Assigned To</th>
                        <th scope="col">Assigned Date</th>
                        <th scope="col">Contact Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Issue Description</th>
                        <th scope="col">Issue Generator Steps</th>
                        <th scope="col">Status</th>
                        <th scope="col">Deleted By</th>
                        <th scope="col">Resolve By</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="table">
                    
                        @foreach (var data in Model)
                        {
                            <tr>
                                <td>@data.Id</td>
                                <td>@data.IssueNo</td>
                                <td>@data.CompanyName</td>
                                <td>@data.CreatedDate.ToShortDateString()</td>
                                <td>@data.UserName</td>
                           @* @{
                                var dateString = data.AssignedDate;
                                DateTime date = DateTime.ParseExact(dateString, "MM/dd/yyyy hh:mm:ss tt", null);
                                DateTime dateOnly = date.Date;
                            }*@
                            <td>@data.AssignedDate</td>
                                <td>@data.ContactName</td>
                                <td>@data.PhoneNumber</td>
                                <td>@data.IssueDescription</td>
                                <td>@data.IssueGeneratorSteps</td>
                                <td>@data.Status</td>
                                <td>@data.DeletedBy</td>
                                <td>@data.ResolveBy</td>
                                <td>
                                <button id="btnResolve_@data.Id" class="btnResolve" style="padding: 0;border: none;background: none;"  data-id="@data.Id" onclick="ShowPopupResolve(this);"><i class="fab fa-resolving"></i></button>
                                    <button style="padding: 0;border: none;background: none;" class="btnbp" data-toggle="ajax-modal" data-target="#addregister" data-url="@Url.Action($"Issue/{data.Id}")"><i class="fa-solid fa-pen-to-square fa-lg"></i></button>
                                    @*<button type="submit" class="btn btn-primary btn-sm btnDelete" id="btndeleteBy_@data.Id" data-id="@data.Id" value="@data.Id"><i class="fa-solid fa-trash"></i></button>*@
                                    @*<a asp-action="EditRegister" asp-controller="User" asp-route-id="@data.Id" data-toggle="ajax-modal" data-target="#addregister" class="btn btn-warning">Edit</a>*@
                                <button style="padding: 0;border: none;background: none;" id="btnDelete_@data.Id" class="btnDelete" data-id="@data.Id" onclick="ShowPopupDelete(this);"><i class="fa-solid fa-trash"></i></button>
                                <button style="padding: 0;border: none;background: none;" id="btnAssigned_@data.Id" class="btnAssigned" data-id="@data.Id" onclick="ShowPopupAssign(this);"><i class="fa-solid fa-clipboard-question"></i></button>
                                    <button style="padding: 0;border: none;background: none;" class="btnbp" data-toggle="ajax-modal" data-target="#addregister" data-url="@Url.Action($"Attachment/{data.Id}")"><i class="fa-solid fa-paperclip"></i></button>
                                <button style="padding: 0;border: none;background: none;" id="btnTransfer_@data.Id" class="btnTransfer" data-id="@data.Id" onclick="ShowPopupTransfer(this);"><i class="fas fa-people-arrows"></i></button>

                                    @* @Html.ActionLink("Edit", "EditRegister", new { id = data.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = data.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })*@
                                </td>

                            </tr>
                        }
                    

                </tbody>
            </table>
        </div>
    </div>
</div>

<!--

poupu
-->
<div class="modal fade" id="modalPopup1" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="width:55%;  margin-top: 20px; margin-left:-15%">
            <div class="modal-header p-2">
                <h4 class="modal-title" id="addRegisterLabel">Resolve</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>

            </div>
            <div class="modal-body">
                <form asp-action="Resolve" asp-controller="Issue" >

                    @Html.AntiForgeryToken()
                    <div class="col" style="margin-left: 13px; ">

                        <input id ="txtReId" name="Id" hidden/>
                        <div class="row pb-3">

                        <div class="rw">
                        <label class="form-label">Resolve Date:</label>
                        <input type="date" name="ResolveBy"  style="height:33px" class="form-control" required>
                        </div>
                        </div>

                        <div class="row">
                            <div class="btnn" style="display:flex; flex-direction:column; align-items:center;">
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>
                        </div>

                    </div>


                </form>
@*                <input type="button" value="close" id="btnclose" onclick="closepopup();" />
*@            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalPopup2" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="width:55%;  margin-top: 20px; margin-left:-15%">
            <div class="modal-header p-2">
                <h4 class="modal-title" id="addRegisterLabel">Delete</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>

            </div>
            <div class="modal-body">
                <form asp-action="Delete" asp-controller="Issue">

                    @Html.AntiForgeryToken()
                    <div class="col" style="margin-left: 13px; ">

                        <input id="txtDeId" name="Id" hidden />
                        <div class="row pb-3">

                            <div class="rw">
                                <label class="form-label">Delete Date:</label>
                                <input type="date" name="DeletedBy" style="height:33px" class="form-control" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="btnn" style="display:flex; flex-direction:column; align-items:center;">
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>
                        </div>

                    </div>


                </form>
@*                <input type="button" value="close" id="btnclose" onclick="closepopup();" />
*@            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalPopup3" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="width:77%;  margin-top: 20px; margin-left:-15%">
            <div class="modal-header p-2">
                <h4 class="modal-title" id="addRegisterLabel">Assign</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
<div class="modal-body">
    <form asp-action="Assign" asp-controller="Issue">

        @Html.AntiForgeryToken()
        <div class="col" style="margin-left: 13px; ">

            <input id="txtAsId" name="Id" hidden />
            <div class="row pb-1">

                <div class="rw">
                    <label class="form-label">Assigned to:</label>
                    <select type="text" name="AssignTo" asp-items="ViewBag.Assign" style="height:34px ;" class="form-select" data-show-subtext="true" data-live-search="true" required></select>
                </div>
            </div>
            <div class="row pb-1">

                <div class="rw">
                    <label class="form-label">Assigned Date:</label>
                    <input type="date" name="AssignedDate"style="height:34px ;" class="form-control"/>
                </div>
            </div>

            <div class="row">
                <div class="btnn" style="display:flex; flex-direction:column; align-items:center;">
                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </div>

        </div>


    </form>
@*    <input type="button" value="close" id="btnclose" onclick="closepopup();" />
*@</div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalPopup4" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="width:77%;  margin-top: 20px; margin-left:-15%">
            <div class="modal-header p-2">
                <h4 class="modal-title" id="addRegisterLabel">Assign</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>

            </div>
            <div class="modal-body">
                <form asp-action="Transfer" asp-controller="Issue">

                    @Html.AntiForgeryToken()
                    <div class="col" style="margin-left: 13px; ">

                        <input id="txtIId" name="Id" hidden />
                        @*<div class="row pb-1">

                            <div class="rw">
                                <label class="form-label">Issue Number:</label>
                                <select type="text" name="IssueId" asp-items="ViewBag.Issue" style="height:34px ;" class="form-select" data-show-subtext="true" data-live-search="true" required>
                                    <option selected disabled>Select Issue Number</option>
                                </select>
                            </div>
                        </div>*@
                        <div class="row pb-1">
                            <div class="rw">
                                <label class="form-label">Transfer From:</label>
                                <select type="text" name="TransferFrom" id="selTrans" asp-items="ViewBag.User" style="height:34px ;" class="form-select" data-show-subtext="true" data-live-search="true" required>
                                    <option  selected disabled>Select Transfer From</option>
                                </select>
                            </div>
                        </div>
                        <div class="row pb-1">
                            <div class="rw">
                                <label class="form-label">Transfer To:</label>
                                <select type="text" name="TransferTo" asp-items="ViewBag.User" style="height:34px ;" class="form-select" data-show-subtext="true" data-live-search="true" required>
                                    <option selected disabled>Select Transfer To</option>
                                </select>
                            </div>
                        </div>
                        <div class="row pb-1">

                            <div class="rw">
                                <label class="form-label">Transfer Date:</label>
                                <input type="date" name="TransferDate" style="height:34px ;" class="form-control" />
                            </div>
                        </div>
                        <div class="row pb-1">

                            <div class="rw">
                                <label class="form-label">Current Stage:</label>
                                <input type="text" name="CurrentStage" style="height:34px ;" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="btnn" style="display:flex; flex-direction:column; align-items:center;">
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>
                        </div>

                    </div>
                </form>
@*                <input type="button" value="close" id="btnclose" onclick="closepopup();" />
*@            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script>
        function ShowPopupResolve(e){
           $("#modalPopup1").modal('show');
            var issueid = $(e).attr("data-id");
            $("#txtReId").val(issueid);
            

        }
        function ShowPopupDelete(e){
           $("#modalPopup2").modal('show');
                var issueid = $(e).attr("data-id");
                $("#txtDeId").val(issueid);

        }
        function ShowPopupAssign(e) {
            $("#modalPopup3").modal('show');
            var issueid = $(e).attr("data-id");
            $("#txtAsId").val(issueid);

        }
        function ShowPopupTransfer(e) {
            $("#modalPopup4").modal('show');
            var issueid = $(e).attr("data-id");
            if(issueid != null){
                $.ajax({
                    url: "/Issue/GetTransfer?id=" + issueid,
                    type: "post",
                    success: function (data) {
                            $("#selTrans").val(data.userName);
                    }
                })
            }
            
            $("#txtIId").val(issueid);

        }
        function closepopup() {
            $("#modalPopup").modal('hide');
        }

        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        $(function () {
            var PlaceHolderEleent = $('#PlaceHolderHere');
            $('button[data-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');

                var decodedUrl = decodeURIComponent(url);
                $.get(decodedUrl).done(function (data) {
                    PlaceHolderEleent.html(data);
                    PlaceHolderEleent.find('.modal').modal('show');
                })
            })
            PlaceHolderEleent.on('click', '[data-save="modal"]', function (event) {

                //var form =$(this).parents('.modal').find('form');
                //var actionUrl = form.attr('action');
                //var url = '/user/'+actionUrl;
                //var sentData = form.serialize();

                //$.post(url, sentData).done(function (data) {
                //    PlaceHolderEleent.find('.modal').modal('hide');
                //    window.location.reload();
                //})

            })
        })
        $(document).ready(function () {
            $(".btnDelete").on("click", function () {
                var rowId = $(this).attr("data-id");
           $.ajax({
                url: "/Issue/DeletedBY?id=" + rowId,
               type:"POST",
               success: function(){
                   
               }
           });
            });

           
        });
    </script>
}