@model IEnumerable<Web_Application.ModelViews.IssueVM>
@{
    ViewData["Title"] = "Index";
}
<div id="PlaceHolderHere"></div>




<button class="btn btn-primary" data-toggle="ajax-modal" data-target="#addregister" data-url="@Url.Action("Issue")" style="width:100px;margin-left:90%; ">Create</button>
<div class="input-group" style="margin-left:79%;margin-top:4px;">
    @*<div class="form-outline">
    <input type="search" id="search" class="form-control" placeholder="Search..." />
    </div>*@
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Issues Informations DataTables</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="display" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Issue No</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Assigned To</th>
                        <th scope="col">Contact Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Issue Description</th>
                        <th scope="col">Issue Generator Steps</th>
                        <th scope="col">Status</th>
                        <th scope="col">Deleted By</th>
                        <th scope="col">Resolve By</th>
                        <th scope="col">Submit</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="table">
                    
                        @foreach (var data in Model)
                        {
                            <tr>
                                <td>@data.Id</td>
                                <td>@data.IssueNo</td>
                                <td>@data.CompanyName</td>
                                <td>@data.CreatedDate.ToShortDateString()</td>
                                <td>@data.UserName</td>
                                <td>@data.ContactName</td>
                                <td>@data.PhoneNumber</td>
                                <td>@data.IssueDescription</td>
                                <td>@data.IssueGeneratorSteps</td>
                                <td>@data.Status</td>
                                <td>@data.DeletedBy</td>
                                <td>@data.ResolveBy</td>
                                <td>
                                    <input type="button" value="Resolve" onclick="ShowPopup();">
                                    <button class="btn btn-primary btn-sm mb-2" type="button" data-toggle="ajax-modal" data-target="#addregister" data-url="@Url.Action($"Resolve/{data.Id}")">Resolve</button>
                                <button type="submit" class="btn btn-primary btn-sm btnDelete" id="btndeleteBy_@data.Id" data-id="@data.Id" value="@data.Id">DeleteBy</button>
                                </td>
                                <td>
                                    <button style="padding: 0;border: none;background: none;" class="btnbp" data-toggle="ajax-modal" data-target="#addregister" data-url="@Url.Action($"Issue/{data.Id}")"><i class="fa-solid fa-pen-to-square fa-lg"></i></button>

                                    @*<a asp-action="EditRegister" asp-controller="User" asp-route-id="@data.Id" data-toggle="ajax-modal" data-target="#addregister" class="btn btn-warning">Edit</a>*@
                                    <a style="color:black" asp-action="Delete" asp-controller="Issue" asp-route-id="@data.Id" onclick="return confirm('Are sure wants to delete?');"><i class="fa-solid fa-trash"></i></a>
                                    <button style="padding: 0;border: none;background: none;" class="btnbp" data-toggle="ajax-modal" data-target="#addregister" data-url="@Url.Action($"Attachment/{data.Id}")"><i class="fa-solid fa-paperclip"></i></button>

                                    @* @Html.ActionLink("Edit", "EditRegister", new { id = data.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = data.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })*@
                                </td>

                            </tr>
                        }
                    

                </tbody>
            </table>
        </div>
    </div>
</div>

<!--

poupu
-->
<div class="modal fade" id="modalPopup" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="width:77%;  margin-top: 20px; margin-left:-15%">
            <div class="modal-header p-2">
                <h4 class="modal-title" id="addRegisterLabel">Issue Activity</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>

            </div>
            <div class="modal-body">
                <form  enctype="multipart/form-data">

                  



                </form>
                <input type="button" value="close" id="btnclose" onclick="closepopup();" />
            </div>

        </div>
    </div>
</div>


@section Scripts{
    <script>
        function ShowPopup(){
           $("#modalPopup").modal('show');
        }
        function closepopup() {
            $("#modalPopup").modal('hide');
        }

        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        $(function () {
            var PlaceHolderEleent = $('#PlaceHolderHere');
            $('button[data-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');

                var decodedUrl = decodeURIComponent(url);
                $.get(decodedUrl).done(function (data) {
                    PlaceHolderEleent.html(data);
                    PlaceHolderEleent.find('.modal').modal('show');
                })
            })
            PlaceHolderEleent.on('click', '[data-save="modal"]', function (event) {

                //var form =$(this).parents('.modal').find('form');
                //var actionUrl = form.attr('action');
                //var url = '/user/'+actionUrl;
                //var sentData = form.serialize();

                //$.post(url, sentData).done(function (data) {
                //    PlaceHolderEleent.find('.modal').modal('hide');
                //    window.location.reload();
                //})

            })
        })
        $(document).ready(function () {
            $(".btnDelete").on("click", function () {
                var rowId = $(this).attr("data-id");
           $.ajax({
                url: "/Issue/DeletedBY?id=" + rowId,
               type:"POST",
               success: function(){
                   
               }
           });
            });

           
        });
    </script>
}